<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-leaflet-mbtiles" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova Leaflet MBTiles</name>
    <js-module name="CordovaLeafletMBTiles" src="www/mbtiles.js">
        <clobbers target="cordova.plugins.CordovaLeafletMBTiles" />
    </js-module>
    <platform name="android">
        <framework src="commons-codec:commons-codec:1.9" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MBTiles">
                <param name="android-package" value="uk.co.dbyz.cordova.leaflet.mbtiles.MBTiles"/>
            </feature>
        </config-file>

        <source-file src="src/android/MBTiles.java" target-dir="src/uk/co/dbyz/cordova/leaflet/mbtiles/"/>
    </platform>
</plugin>
